/*------------------------------------------------------------------------------*/
/* Aspect Ratio
/*------------------------------------------------------------------------------*/

.AspectRatio {
	--aspect-ratio: 50%;
	position: relative;
}

.AspectRatio:before {
	content: "";
	width: 1px;
	margin-left: -1px;
	float: left;
	height: 0;
	padding-top: var(--aspect-ratio);
}

.AspectRatio:after {
	content: "";
	display: table;
	clear: both;
}

.AspectRatio img {
	bottom: 0;
	left: 0;
	margin: auto;
	object-fit: contain;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
}
