/*------------------------------------------------------------------------------*/
/* Display Helpers
/*------------------------------------------------------------------------------*/

[hidden] {
	display: none !important;
	visibility: hidden !important;
}

.Hide {
	display: none;
}

@media screen and (min-width: 1025px) {
	.Hide-Desktop {
		display: none;
	}
}

@media screen and (max-width: 1024px) {
	.Hide-Tablet {
		display: none;
	}
}

@media screen and (max-width: 600px) {
	.Hide-Mobile {
		display: none;
	}
}


/*------------------------------------------------------------------------------*/
/* Visually Hide
/*------------------------------------------------------------------------------*/

/* A visually hidden element that assistive technology can still access. */

.Hide-Visually {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
