/*------------------------------------------------------------------------------*/
/* Prevent Scroll
/*------------------------------------------------------------------------------*/

@media screen and (max-width: 1024px) {
	.ScreenLock {
		overflow: hidden !important;
	}

	.BodyNoScroll {
		height: 100vh;
		overflow: hidden !important;
		position: relative;
	}
}

/* Avoid Chrome to see Safari hack */
@supports (-webkit-touch-callout: none) {
	.ScreenLock {
		/* The hack for Safari */
		height: -webkit-fill-available;
	}
}

/*------------------------------------------------------------------------------*/
/* Responsive Table
/*------------------------------------------------------------------------------*/

.TableScroll {
	overflow-x: auto;
	scrollbar-width: thin;
	margin-inline: calc(var(--container-page-margin) * -1);
	padding-inline: var(--container-page-margin);
}

@media screen and (max-width: 800px) {
	.TableScroll {
		margin-inline: calc(var(--container-page-margin) * -1);
		padding-inline: var(--container-page-margin);
	}
}
