/*------------------------------------------------------------------------------*/
/* Typography
/*------------------------------------------------------------------------------*/

h1, h2, h3, h4, h5, h6 {
	font-family: var(--font-family-headings);
	font-size: var(--font-size-large);
	font-weight: var(--font-heading-weight);
}

.Title {
	font-family: var(--font-family-headings);
	font-size: var(--font-size-xxlarge);
	font-weight: var(--font-heading-weight);
	line-height: var(--line-height-heading);
	text-transform: var(--font-heading-transform);
}

.Subtitle {
	font-family: var(--font-family-headings);
	font-size: var(--font-size-xlarge);
	font-weight: var(--font-heading-weight);
	text-transform: var(--font-heading-transform);
}

.Text-Body {
	font-size: var(--font-size-regular);
}

.Text-Small {
	font-size: var(--font-size-small);
}

/*------------------------------------------------------------------------------*/
/* Text Utility
/*------------------------------------------------------------------------------*/

.Text-Center {
	text-align: center;
}

.Text-Left {
	text-align: left;
}

.Text-Right {
	text-align: right;
}

/*------------------------------------------------------------------------------*/
/* Font Styles on Infopages
/*------------------------------------------------------------------------------*/

#InfoPage h1 {
	font-size: var(--font-size-xxlarge);
	line-height: var(--line-height-heading);
	text-transform: var(--font-heading-transform);
}

#InfoPage h2 {
	font-size: var(--font-size-xlarge);
	line-height: var(--line-height-heading);
}

#InfoPage h3 {
	font-size: var(--font-size-large);
}

#InfoPage h4 {
	font-size: var(--font-size-regular);
	text-transform: uppercase;
}

#InfoPage h5, 
#InfoPage h6 {
	font-size: var(--font-size-small);
	text-transform: uppercase;
}
