/*------------------------------------------------------------------------------*/
/* Accordion
/*------------------------------------------------------------------------------*/

.Accordion {
	border-bottom: 1px solid var(--border-color);
	margin-bottom: 2rem;
}

.Accordion + .Accordion {
	margin-top: -2rem;
}

.Accordion summary {
	align-items: center;
	border-radius: var(--border-radius-medium);
	cursor: pointer;
	display: flex;
	gap: 0 1rem;
	list-style: none;
	padding: 1.5rem 1rem 1.5rem 0;
}

.Accordion[open] summary {
	border-bottom: 1px solid var(--border-color);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	margin-bottom: 2rem;
}

.Accordion summary::-webkit-details-marker {
	display: none;
}

.Accordion summary::after {
	font-family: var(--fa-style-family);
	content: "\f107";
	margin-left: auto;
}

.Accordion[open] > summary::after {
	content: "\f106";
}

.Accordion summary > * {
	font-size: var(--font-size-large);
	margin: 0;
}
