/*------------------------------------------------------------------------------*/
/* Account Information
/*------------------------------------------------------------------------------*/

#AccountInformation dd > :last-child {
	margin-bottom: 0;
}

#AccountInformation dt,
#OrderHistory caption {
	font-size: var(--font-size-large);
	font-weight: bold;
	margin-bottom: 1rem;
}

#AccountInformation dt:not(:first-child) {
	margin-top: 3rem;
}
