/*------------------------------------------------------------------------------*/
/* Featured Banner
/*------------------------------------------------------------------------------*/

.FeaturedBanners {
	--gap: var(--grid-list-gutter);
	-ms-overflow-style: none;
	display: grid;
	gap: var(--gap);
	grid-auto-columns: minmax(400px, 50%);
	grid-auto-flow: column;
	list-style: none;
	margin-bottom: 0;
	overflow-x: auto;
	padding-block: 4px;
	scroll-snap-type: none;
	scrollbar-width: none;
}

.FeaturedBanners::-webkit-scrollbar {
	display: none;
}

.FeaturedBanner {
	--aspect-ratio: 100 / 64;
	align-items: flex-end;
	aspect-ratio: var(--aspect-ratio);
	background-color: var(--background-color-shade-1);
	border-radius: var(--border-radius-images);
	display: flex;
	padding: 5%;
	position: relative;
	scroll-snap-align: center;
}

.FeaturedBanner.Banner-Dark {
	background-color: var(--color-bg-dark);
}

.FeaturedBanner img {
	border-radius: var(--border-radius-images);
	height: 100%;
	inset: 0;
	object-fit: cover;
	position: absolute;
	width: 100%;
}

.FeaturedBanner .BannerCoverLink {
	border-radius: var(--border-radius-images);
}

.FeaturedBanner .BannerText .Title,
.FeaturedBanner .BannerText > h1,
.FeaturedBanner .BannerText > h2,
.FeaturedBanner .BannerText > h3 {
	line-height: var(--line-height-heading);
	margin: var(--margin-small) 0;
}

.FeaturedBanner .BannerText .Title,
.FeaturedBanner .BannerText > h1 {
	font-size: clamp(var(--font-size-regular), 5vw, var(--font-size-xxlarge));
}

.FeaturedBanner .BannerText > h2 {
	font-size: clamp(var(--font-size-regular), 5vw, var(--font-size-xlarge));
}

.FeaturedBanner .BannerText > h3 {
	font-size: clamp(var(--font-size-regular), 5vw, var(--font-size-large));
}

@media screen and (max-width: 480px) {
	.FeaturedBanners {
		grid-auto-columns: 85%;
		scroll-snap-type: inline mandatory;
	}
}

/*------------------------------------------------------------------------------*/
/* Featured Banner Gradient
/*------------------------------------------------------------------------------*/

.FeaturedBanner.ImageGradient-1 {
	--gradient-direction-to: top;
	--gradient-start:  0.5;
}

.FeaturedBanner.ImageGradient-1::before {
	background-image: linear-gradient(
		to var(--gradient-direction-to),
		rgba(0, 0, 0, var(--gradient-start)),
		rgba(0, 0, 0, 0)
	);
	border-radius: var(--border-radius-images);
	content: '';
	height: 100%;
	inset: 0;
	pointer-events: none;
	position: absolute;
	width: 100%;
	z-index: 2;
}

.FeaturedBanner.ImageGradient-1 .BannerText {
	color: var(--color-text-light) !important;
	z-index: 3;
}

.FeaturedBanner.ImageGradient-1 .BannerText a:not(.Button) {
	--color-link: var(--color-text-accent-light);
	--color-link-hover: var(--color-text-accent-light-darker);
	--color-link-active: var(--color-text-accent-light-darker);
}
