/*------------------------------------------------------------------------------*/
/* Button
/*------------------------------------------------------------------------------*/

button,
[type="button"],
.Button {
	--button-background-color: var(--background-color);
	--button-border-color: var(--input-border-color);
	--button-color: var(--color-text);
	--button-height: var(--input-height);
	align-items: center;
	background: var(--button-background-color);
	border: 1px solid var(--button-border-color);
	border-radius: var(--border-radius-buttons);
	color: var(--button-color);
	cursor: pointer;
	display: inline-flex;
	gap: .5rem;
	justify-content: center;
	min-height: var(--button-height);
	padding: .5rem 1.5rem;
	text-decoration: none;
	transition-duration: var(--transition-fast);
}

button:hover,
[type="button"]:hover,
.Button:hover {
	--button-background-color: var(--background-color-shade-1);
	--button-color: var(--color-text);
	color: var(--button-color);
}

button:active,
[type="button"]:active,
.Button:active {
	--button-background-color: var(--background-color-shade-2);
	box-shadow: inset 0 1px 2px rgba(0,0,0,.2);
	color: var(--button-color);
}

[class|="Button"]:focus-visible {
	outline: 5px auto Highlight;
	outline: 5px auto -webkit-focus-ring-color;
}

/*------------------------------------------------------------------------------*/
/* Button Flex
/*------------------------------------------------------------------------------*/

.Button-Flex {
	display: flex;
}

/*------------------------------------------------------------------------------*/
/* Button Primary
/*------------------------------------------------------------------------------*/

.Button-Primary,
.AddToCart,
form:where(#ContactForm, #CheckoutForm) .SubmitButton,
.CampaignCodeForm-InModal form:last-child button[type="submit"],
#NewsletterSubscribeButton {
	--button-background-color: var(--color-accent);
	--button-border-color: var(--color-accent);
	--button-color: var(--color-text-on-accent);
	border: 0;
	box-shadow: var(--box-shadow);
	font-weight: var(--font-heading-weight);
	text-transform: var(--font-heading-transform);
}

.Button-Primary:hover,
.AddToCart:hover,
form:where(#ContactForm, #CheckoutForm) .SubmitButton:hover,
#NewsletterSubscribeButton
.CampaignCodeForm-InModal form:last-child button[type="submit"]:hover {
	--button-background-color: var(--color-accent-darker);
	--button-border-color: var(--color-accent-darker);
	--button-color: var(--color-text-on-accent);
}

/*------------------------------------------------------------------------------*/
/* Button Block
/*------------------------------------------------------------------------------*/

.Button-Block {
	width: min(100%, 500px);
}

/*------------------------------------------------------------------------------*/
/* Button Big
/*------------------------------------------------------------------------------*/

.Button-Big,
.BuyForm .AddToCart {
	--button-height: 4.5rem;
	padding: 1rem 3rem;
}

/*------------------------------------------------------------------------------*/
/* Button Small
/*------------------------------------------------------------------------------*/

.Button-Small {
	--button-height: 2rem;
	padding: .2rem 1rem;
}

/*------------------------------------------------------------------------------*/
/* Button Light
/*------------------------------------------------------------------------------*/

.Button-Light {
	--button-background-color: var(--color-white);
	--button-border-color: var(--color-white);
	--button-color: var(--color-black);
}

.Button-Light:hover,
.Button-Light:active {
	--button-background-color: var(--color-white-darker);
	--button-color: var(--color-black);
}

/*------------------------------------------------------------------------------*/
/* Button Dark
/*------------------------------------------------------------------------------*/

.Button-Dark {
	--button-background-color: var(--color-black);
	--border-color: var(--color-black);
	--button-color: var(--color-white);
}

.Button-Dark:hover,
.Button-Dark:active {
	--button-background-color: var(--color-black-lighter);
	--button-color: var(--color-white);
}
