/*------------------------------------------------------------------------------*/
/* Checkout Badges
/*------------------------------------------------------------------------------*/

.CheckoutBadges {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	list-style: none;
}

.CheckoutBadges:not(:has(li)) {
	display: none;
}

.CheckoutBadge {
	align-items: center;
	aspect-ratio: var(--badge-aspect-ratio, 55/35);
	background-color: var(--badge-bg, var(--color-white));
	border-radius: var(--badge-border-radius, 3px);
	box-shadow: 0 0 0 1px var(--badge-border-color, var(--border-color));
	display: flex;
	height: var(--badge-height, 30px);
	justify-content: center;
	margin: 0;
	overflow: hidden;
	padding: 0;
	z-index: 1;
}

.CheckoutBadge svg,
.CheckoutBadge img {
	max-height: 100%;
	object-fit: contain;
}

/* Exceptions & non-white badges */

.CheckoutBadge.Badge-Amex {
	--badge-bg: var(--color-white);
}

.CheckoutBadge.Badge-ApplePay {
	--badge-border-radius: 0;
	background-color: transparent;
}

.CheckoutBadge.Badge-DHL {
	--badge-bg: #fc0;
}

.CheckoutBadge.Badge-Klarna {
	--badge-bg: #feb4c7;
}

.CheckoutBadge:where(.Badge-Amex, .Badge-ApplePay, .Badge-DHL, .Badge-Klarna) {
	--badge-border-color: transparent;
}

/* Checkout Badge Single Color Variation
/*------------------------------------------------------------------------------*/

.CheckoutBadges:not(.CheckoutBadges-SingleColor) .BadgeSingleColor {
	display: none;
}

.CheckoutBadges-SingleColor .BadgeNormal {
	display: none;
}

.CheckoutBadges-SingleColor {
	--badge-fill: var(--color-text);
	--badge-fill-2: var(--color-text);
	--badge-fill-3: var(--color-text);
	--badge-fill-4: var(--color-text);
	--badge-fill-5: var(--color-text);
}

.CheckoutBadges-SingleColor .CheckoutBadge.Badge-Amex {
	--badge-bg-2: var(--color-text);
	--badge-border-color: inherit;
	--badge-fill: var(--color-white);
}

.CheckoutBadges-SingleColor .CheckoutBadge.Badge-ApplePay {
	--badge-bg: var(--color-white);
	--badge-border-color: inherit;
	--badge-fill-border: transparent;
	--badge-border-radius: inherit;
	background-color: var(--badge-bg);
}

.CheckoutBadges-SingleColor .CheckoutBadge.Badge-DHL {
	--badge-bg: var(--color-white);
	--badge-border-color: inherit;
}

.CheckoutBadges-SingleColor .CheckoutBadge.Badge-Klarna {
	--badge-bg: var(--color-white);
	--badge-border-color: inherit;
}

/* Dark theme adjustment
/*------------------------------------------------------------------------------*/

[data-footer-text="white"] .CheckoutBadge {
	--badge-bg: var(--color-white);
}

[data-footer-text="white"] .CheckoutBadge.Badge-DHL {
	--badge-bg: #fc0;
}

[data-footer-text="white"] .CheckoutBadge.Badge-Klarna {
	--badge-bg: #feb4c7;
}

/* Dark theme single color adjustment
/*------------------------------------------------------------------------------*/

[data-footer-text="white"] .CheckoutBadges-SingleColor .CheckoutBadge {
	--badge-bg: var(--background-color);
}

[data-footer-text="white"] .CheckoutBadges-SingleColor .CheckoutBadge.Badge-Amex {
	--badge-fill: var(--background-color);
}
