/*------------------------------------------------------------------------------*/
/* Footer
/*------------------------------------------------------------------------------*/

.FooterMobile,
.FooterDesktop {
	--color-link: var(--color-text);
}

.FooterMobile {
	display: none;
}

@media screen and (max-width: 1024px) {
	.FooterDesktop {
		display: none;
	}

	.FooterMobile {
		display: block;
	}
}

/*------------------------------------------------------------------------------*/
/* Footer Items
/*------------------------------------------------------------------------------*/

.FooterTitle {
	text-transform: var(--font-heading-transform);
}

.FooterItems {
	--gap: 4rem;
	gap: var(--gap);
	display: flex;
	margin-bottom: 2rem;
}

.FooterItem {
	flex: 1;
}

.FooterItem-Logo {
	flex: 2.15;
}

/*------------------------------------------------------------------------------*/
/* Footer Navigation
/*------------------------------------------------------------------------------*/

.FooterNavigation  ul {
	list-style: none;
}

.FooterNavigation  ul a {
	text-decoration: none;
}

.FooterNavigation .Current > a {
	font-weight: bold;
}

/*------------------------------------------------------------------------------*/
/* Mobile Footer
/*------------------------------------------------------------------------------*/

.FooterMobileNavigation ul {
	list-style: none;
	margin: 0;
}

.Accordion summary + .FooterMobileNavigation {
	margin-top: -2rem;
}

.FooterMobileNavigation li a {
	display: flex;
	padding-block: 1rem;
	text-decoration: none;
}

.FooterMobileNavigation :where(ul, li):not(:last-child) a {
	border-bottom: 1px solid var(--border-color);
}

.FooterMobileNavigation .Current > a {
	font-weight: bold;
}

/*------------------------------------------------------------------------------*/
/* Footer Badges
/*------------------------------------------------------------------------------*/

.FooterBadges .CheckoutBadges {
	max-width: 500px;
}

.FooterBadges:not(:has(li)):not(:has(.KlarnaPlacementBadges)) {
	display: none;
}

.KlarnaPlacementBadges {
	display: flex;
	margin: -8px;
	margin-bottom: var(--margin);
}

@media screen and (min-width: 1025px) {
	.FooterBadges ul:has(+ ul) {
		margin-bottom: 1rem;
	}
}

@media screen and (max-width: 1024px) {
	.FooterBadges {
		margin-top: 4rem;
	}

	.FooterBadges .CheckoutBadges {
		justify-content: center;
		margin-inline: auto;
	}

	.KlarnaPlacementBadges {
		justify-content: center;
	}
}

/*------------------------------------------------------------------------------*/
/* Footer Copyright
/*------------------------------------------------------------------------------*/

.FooterBottom {
	align-items: flex-end;
	display: flex;
	flex-wrap: wrap;
	gap: 4rem;
	justify-content: space-between;
	margin-top: 2rem;
}

.FooterBottom > * {
	flex: 1;
}

@media screen and (max-width: 1024px) {
	.FooterBottom {
		align-items: center;
		border-top: 0;
		flex-direction: column-reverse;
		text-align: center;
	}
}
