/*------------------------------------------------------------------------------*/
/* Logo Setup
/*------------------------------------------------------------------------------*/

:root {
	--logo-max-height: var(--logo-max-height-desktop);
	--logo-max-width: 240px;
	--logo-pos: left;
}

@media screen and (max-width: 600px) {
	:root {
		--logo-max-height: var(--logo-max-height-mobile);
		--logo-max-width: 160px;
	}
}

/*------------------------------------------------------------------------------*/
/* Logo Link (link that wraps logo)
/*------------------------------------------------------------------------------*/

.LogoLink {
	--color-link: var(--color-text);
	--color-link-hover: var(--color-text);
	--color-link-active: var(--color-text);
	align-items: center;
	display: flex;
	font-size: var(--font-size-xlarge);
	justify-content: center;
	line-height: 1;
	margin: 0;
	pointer-events: auto;
	text-align: center;
	text-decoration: none;
	text-transform: var(--font-heading-transform);
}

.LogoLink img {
	--logo-width: calc(var(--logo-max-height) / var(--logo-image-ratio-y));
	aspect-ratio: 1 / var(--logo-image-ratio-y);
	height: auto;
	object-fit: contain;
	object-position: var(--logo-pos);
	max-width: var(--logo-max-width);
	max-height: var(--logo-max-height);
	width: var(--logo-width);
}

/*------------------------------------------------------------------------------*/
/* Header Logo (container for LogoLink)
/*------------------------------------------------------------------------------*/

.HeaderLogo,
.FooterLogo {
	align-items: center;
	display: flex;
	justify-content: flex-start;
	max-width: var(--logo-max-width);
	pointer-events: none;
}

/* SiteLayout Column Logo */

.SideLogo .HeaderLogo {
	--logo-max-height: 240px;
	--logo-pos: center;
	justify-content: center;
	margin-inline: auto;
}

/*------------------------------------------------------------------------------*/
/* Footer Logo
/*------------------------------------------------------------------------------*/

.FooterLogo:not(.FooterMobileLogo) {
	justify-content: flex-start;
}

.FooterMobileLogo {
	--logo-max-height: var(--logo-max-height-desktop);
	--logo-max-width: 240px;
	--logo-pos: center;
	justify-content: center;
	margin-inline: auto;
	margin-bottom: 2rem;
	text-align: center;
}
