/*------------------------------------------------------------------------------*/
/* Modal
/*------------------------------------------------------------------------------*/

.ModalContainer {
	--container-max-width: 760px;
	--container-min-width: 380px;
	--container-width: auto;
	-ms-overflow-style: none;
	-webkit-overflow-scrolling: touch;
	background-color: var(--background-color);
	border-radius: var(--border-radius-medium);
	padding: 0;
	max-height: 90vh;
	max-width: var(--container-max-width);
	min-width: var(--container-min-width);
	overscroll-behavior: contain;
	overflow-y: auto;
	width: var(--container-width);
}

.ModalContainer > :last-child {
	margin-bottom: 0;
}

.ModalHeader {
	align-items: center;
	background-color: var(--background-color);
	border-bottom: 1px solid var(--border-color);
	border-radius: var(--border-radius-medium);
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	display: flex;
	justify-content: space-between;
	padding: 1rem 2rem;
	position: sticky;
	top: 0;
}

.ModalTitle {
	margin-bottom: 0;
}

.ModalContent {
	background-color: var(--background-color);
	border-radius: var(--border-radius-medium);
	padding: 2rem;
}

.ModalContent > :last-child {
	margin-bottom: 0;
}

.ModalClose {
	background: 0;
	box-shadow: none;
	border: 0;
}

.ModalHeader .ModalClose {
	margin-right: -2rem;
}

.ModalClose span {
	pointer-events: none;
}

/* Modal Container Variations
/*------------------------------------------------------------------------------*/

.Modal-Small {
	--container-width: 300px;
}

.Modal-Medium {
	--container-width: 500px;
}

.Modal-Large {
	--container-width: 760px;
}

.Modal-FullPage {
	--container-max-width: none;
	--container-width: calc(100% - 2rem);
}

@media screen and (max-width: 800px) {
	.ModalContainer {
		--container-min-width: 0;
		--container-width: auto;
	}
}
