/*------------------------------------------------------------------------------*/
/* Newsletter Form Standard
/*------------------------------------------------------------------------------*/

.NewsletterSubscribeBlock {
	max-width: 300px;
}

.NewsletterSubscribeBlock .FormItem {
	display: flex;
}

.NewsletterSubscribeBlock h2 {
	font-size: var(--font-size-xlarge);
	font-weight: bold;
}

.NewsletterSubscribeBlock label {
	display: none;
}

.NewsletterSubscribeBlock .PrivacyPolicy {
	font-size: var(--font-size-small);
	margin-top: 1rem;
	opacity: .5;
}

.NewsletterSubscribeBlock #SubscribeEmail {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
	flex: 1;
}

.NewsletterSubscribeBlock #SubscribeEmail:focus {
	position: relative;
}

.NewsletterSubscribeBlock #NewsletterSubscribeButton {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-left: -1px;
}

/*------------------------------------------------------------------------------*/
/* Newsletter Form Alternative
/*------------------------------------------------------------------------------*/

.NewsletterSubscribeAlternative {
	display: flex;
}

.NewsletterSubscribeAlternative h2,
.NewsletterSubscribeAlternative p {
	display: none;
}

.NewsletterSubscribeAd {
	flex: 1 1 60%;
}

.NewsletterSubscribeAlternative .NewsletterSubscribeBlock {
	flex: 1 1 40%;
}

@media screen and (min-width: 1024px) {
	.NewsletterSubscribeAlternative #NewsletterSubscribeForm {
		text-align: right;
	}
}

@media screen and (max-width: 1024px) {
	.NewsletterSubscribeAlternative {
		flex-flow: column;
	}
}
