/*------------------------------------------------------------------------------*/
/* Notification Bar
/*------------------------------------------------------------------------------*/

.NotificationBar {
	--color-link: var(--notification-text-color);
	--color-link-hover: var(--notification-text-color);
	align-items: center;
	background-color: var(--notification-bg-color);
	color: var(--notification-text-color, #fff);
	display: flex;
	flex-wrap: wrap;
	font-size: var(--font-size-small);
	gap: 0 1rem;
	justify-content: center;
	padding: 1rem var(--container-page-margin);
}

.NotificationBar p {
	margin: 0;
}

.NotificationBar ul,
.NotificationBar ol {
	display: flex;
	flex-wrap: wrap;
	gap: 0 1rem;
	margin: 0;
}

.NotificationBar :only-child li:first-child:not(:only-child) {
	list-style: none;
}

