/*------------------------------------------------------------------------------*/
/* Page
/*------------------------------------------------------------------------------*/

.InfoPageImage {
	background-color: var(--background-color-shade-1);
	border-radius: var(--border-radius-images);
	margin: var(--default-margin);
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.InfoPageImage .AspectRatio {
	--aspect-ratio: 35%;
}

.InfoPageImage img {
	height: 100%;
	object-fit: cover;
	width: 100%;
}

.PageContent :where(p, ul, ol) {
	max-width: 90ch;
}
