/*------------------------------------------------------------------------------*/
/* Product Images Section
/*------------------------------------------------------------------------------*/

.ProductImages {
	margin: var(--default-margin);
	margin-left: auto;
	max-width: 500px;
	position: relative;
}

/*------------------------------------------------------------------------------*/
/* Product Main Image
/*------------------------------------------------------------------------------*/

.ProductMainImage {
	--aspect-ratio: 1 / var(--product-image-ratio, 1);
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-bottom: 1rem;
	position: relative;
}

.ProductMainImageContainer {
	-webkit-overflow-scrolling: touch;
	align-items: center;
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius-images);
	display: flex;
	overflow: hidden;
	scrollbar-width: none;
	scroll-snap-type: inline mandatory;
	z-index: 1;
}

.ProductMainImageContainer::-webkit-scrollbar {
	display: none;
}

.ProductMainImageContainer:focus-within {
	outline: 5px auto Highlight;
	outline: 5px auto -webkit-focus-ring-color;
}

.ProductMainImageContainer .ProductImage {
	align-items: center;
	aspect-ratio: var(--aspect-ratio);
	background-color: var(--image-background-color);
	display: flex;
	justify-content: center;
	min-width: 100%;
	scroll-snap-align: center;
}

.ProductMainImageContainer .ProductImage img {
	height: 100%;
	object-fit: contain;
	width: 100%;
}

/*------------------------------------------------------------------------------*/
/* Product Main Image Actions
/*------------------------------------------------------------------------------*/

.ProductMainActions {
	display: flex;
	gap: 1rem;
	justify-content: space-between;
	padding-inline: 1.5rem;
	pointer-events: none;
	position: absolute;
	width: 100%;
	z-index: 2;
}

.ActionButton {
	font-size: 0;
	gap: 0;
	height: 40px;
	pointer-events: auto;
	width: 40px;
}

.ActionButtonPrev::before,
.ActionButtonNext::after  {
	font-family: var(--fa-style-family);
	font-size: var(--font-size-regular);
}

.ActionButtonPrev::before {
	content: "\f053";
}

.ActionButtonNext::after {
	content: "\f054";
}

/*------------------------------------------------------------------------------*/
/* Product Thumbnails
/*------------------------------------------------------------------------------*/

.ProductThumbnails {
	--aspect-ratio: 1 / var(--product-image-ratio, 1);
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
	gap: 1rem;
	list-style: none;
}

.ProductThumbnail {
	align-items: center;
	aspect-ratio: var(--aspect-ratio);
	background-color: var(--image-background-color);
	display: flex;
	border: 1px solid var(--border-color);
	border-radius: var(--border-radius);
	justify-content: center;
	overflow: hidden;
	z-index: 1;
}

.ProductThumbnail img {
	height: 100%;
	object-fit: contain;
	width: 100%;
}

.ActiveThumb .ProductThumbnail {
	border-color: transparent;
	box-shadow: 0 0 0 2px var(--color-accent);
}

@media screen and (max-width: 500px) {
	.ProductImages {
		margin-top: calc(var(--margin) * -1);
	}

	.ProductMainImageContainer {
		border: 0;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		margin-inline: calc(var(--container-page-margin) * -1);
		overflow-x: auto;
	}

	.ProductMainActions {
		display: none;
	}
}

/*------------------------------------------------------------------------------*/
/* Product Image Captions
/*------------------------------------------------------------------------------*/

.ProductImageCaption {
	margin-bottom: 1rem;
	margin-top: 1rem;
	text-align: center;
}
