/*------------------------------------------------------------------------------*/
/* Product Price Base
/*------------------------------------------------------------------------------*/

.ProductDiscountPrice {
	color: var(--discount-text-color);
	font-weight: bold;
}

.ProductComparePrice {
	text-decoration: line-through;
}

/*------------------------------------------------------------------------------*/
/* Product Prices Description List
/*------------------------------------------------------------------------------*/

.Prices {
	align-items: baseline;
	display: flex;
	flex-wrap: wrap;
	gap: 0 .5rem;
}

.Prices > :where(dt, dd) {
	margin: 0;
}

/* Current Price
/*------------------------------------------------------------------------------*/

.Prices .CurrentPrice strong {
	font-size: var(--font-size-large);
	font-weight: bold;
}

.Prices .Currency {
	margin-left: .3rem;
}

.Prices .PriceFrom {
	font-size: var(--font-size-regular);
}

.Prices:has(.PriceFrom) dt.CurrentPrice {
	/* Hide visually */
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

/* Discount Price
/*------------------------------------------------------------------------------*/

.Prices:has(.ListPrice, .LowestCampaignPrice) dd.CurrentPrice {
	color: var(--discount-text-color);
}

.Prices dt.ListPrice {
	/* Hide visually */
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}

.Prices dd.ListPrice {
	text-decoration: line-through;
}

/* Lowest Campaign Price
/*------------------------------------------------------------------------------*/

.Prices .LowestCampaignPrice {
	font-size: var(--font-size-small);
	font-weight: normal;
	order: 2;
}

.Prices:has(.LowestCampaignPrice)::after {
	content: '';
	order: 1;
	flex-basis: 100%;
}

/* Price Vat
/*------------------------------------------------------------------------------*/

.PriceVat {
	font-size: var(--font-size-small);
	font-weight: normal;
}

dt.PriceVat::before {
	content: '(';
}

dd.PriceVat::after {
	content: ')';
}
