/*------------------------------------------------------------------------------*/
/* Site
/*------------------------------------------------------------------------------*/

.SiteHeader {
	background-color: var(--background-color);
	padding-inline: var(--container-page-margin);
}

.SiteFooter {
	background-color: var(--background-color);
	border-top: 1px solid var(--border-color);
	color: var(--color-text);
	padding-block: var(--margin-xlarge) var(--margin-large);
}

.SiteBody {
	background-color: var(--background-color);
	border-color: var(--border-color);
	color: var(--color-text);
	margin-bottom: var(--margin-xlarge);
	padding-block: var(--margin-large);
}

.SiteNewsletter {
	--input-background-color: var(--color-white);
	position: relative;
}

.SiteNewsletter-Background {
	inset: 0;
	pointer-events: none;
	position: absolute;
	z-index: -1;
}

@media screen and (max-width: 480px) {
	.SiteBody {
		padding-top: var(--margin);
		margin-bottom: 0;
	}
}

/*------------------------------------------------------------------------------*/
/* Site Template Layout
/*------------------------------------------------------------------------------*/

.SiteLayout {
	--sidecolumn-width: 320px;
	background-color: var(--background-color);
	display: grid;
	flex: 1;
	grid-template-columns: var(--sidecolumn-width) calc(100% - var(--sidecolumn-width));
	margin: 0 auto;
	max-width: var(--full-width-limit);
	width: 100%;
}

.ColumnLayoutSection {
	background-color: var(--background-color);
	border-right: 1px solid var(--border-color);
	color: var(--color-text);
	padding: 2rem 0;
	position: relative;
	z-index: 1;
}

.ColumnLayoutSection .StickySide {
	max-height: calc(100vh - 4rem);
	padding-inline: 2.5rem;
	overflow-y: auto;
	position: sticky;
	scrollbar-width: thin;
	top: 2rem;
}

.SiteLayoutBackground {
	background-color: var(--background-color);
	filter: brightness(.9);
	inset: 0;
	position: absolute;
	pointer-events: none;
	z-index: -1;
}

.SiteLayoutBackground::before {
	box-shadow: 0 0 0 1px var(--border-color);
	content: "";
	inset: 0;
	max-width: var(--full-width-limit);
	margin: 0 auto;
	position: absolute;
}

.SiteLayoutColumns + .SiteNewsletter .SiteNewsletter-Background {
	background-color: var(--background-color);
	border-top: 1px solid var(--border-color);
}

@media screen and (max-width: 1240px) {
	.SiteLayout {
		border: 0;
		display: block;
	}

	.ColumnLayoutSection {
		display: none !important;
	}
}
