/*------------------------------------------------------------------------------*/
/* Thank You Page
/*------------------------------------------------------------------------------*/

.ThanksPageLayout {
	margin-inline: auto;
	max-width: 800px;
}

@media screen and (min-width: 801px) {
	.ThanksPageLayout {
		background-color: var(--background-color);
		border: 1px solid var(--border-color);
		border-radius: var(--border-radius-medium);
		padding: 2rem;
	}
}

/*------------------------------------------------------------------------------*/
/* Registration Form
/*------------------------------------------------------------------------------*/

#CheckoutThanksRegistrationForm {
	border: 1px solid var(--border-color);
	border-width: 1px 0;
	padding-block: 2rem;
}

#CheckoutThanksRegistrationForm [for="password"] {
	display: none;
}

#CheckoutThanksRegistrationForm .Subtitle {
	margin-bottom: 0;
}

/*------------------------------------------------------------------------------*/
/* Order Finished
/*------------------------------------------------------------------------------*/

#OrderFinished {
	display: contents;
	margin: 0;
}

#OrderFinished .HeaderItem {
	margin: var(--default-margin);
}
